@charset "UTF-8";
html,body{
	height: 100%
}
body{
	background-size: cover;
	background-repeat: no-repeat;
}
.location{
	display : flex;
	justify-content : flex-end;
	align-items : center;
	height: 10%
}
.txt_location{
	padding-right : 20px;
	font-size: 1vw;	
	color:white;
}
.main{
	display : flex;
	/* justify-content : space-between; */
	justify-content :center;
	
	align-items : center;	
	height: 80%
}
.box_todo{
	width: 40vw;
	height: 20vw;
	background-color: rgba(0,0,0,0.3);
	/* margin-right: 20vw; */
}

.wrap_clock{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	height:40%;
}
.wrap_clock>div{
	font-size:2vw;
	line-height: 1.5;
	font-weight: bolder;
	line-height: 2;
}
.wrap_username, .box_todo{
	display : flex;
	justify-content:center;
	align-items:center;
	height: 60%	
}
.wrap_username>form,.box_todo>form{
	width: 100%
}
.inp_username,.inp_todo{
	position:relative;
	background-color : transparent;
	padding : 1vw;
	border-radius : 30%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom-color:white;
	width: 80%;
	left: 10%;
	color: white;
	font-size: 3vw;	
	outline: none;
}
.inp_username::placeholder,.inp_todo::placeholder{
	color: white;
	font-size: 2vw;
	text-align: center;
}
.todo-list{
	display : none;
	background-color: rgba(0,0,0,0.3);
	height: 100vh;
	width: 20vw;	
	min-width: 170px;
}
.todo-list>p{
	color: white;
	font-weight: bolder;
	text-align: center;
	font-size: 2vw;
	margin: 10px 0 10px 0;
}
.todo-list>div{
	position : relative;
	display : inline-block;
	justify-content : space-between;
	width : 80%;
	left : 10%;
	color: white;
	text-align: center;
	background-color: red;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

.bg-info{
	display : flex;
	height: 10%;
	align-items : center;
}
.txt_bg{
	padding-left : 20px;
	font-size: 1vw;	
	color:white;	
}